@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@200;600&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}
.columns {
    column-count: 4; /* Adds number of columns */
    column-width: 250px;
    /* columns: 4 250px; shorthand prop for columns */
    column-rule: 3px solid #333; /* Adds a line in btw the columns. Appears and disappears according to the screensize.*/
    column-gap: 3rem;
}
.columns p {
    margin-top: 0;
}
/* .columns h2 {
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid; /* avoids breaking of the element in two columns */
    /* break-before: column; 
} */
.columns .quote {
    margin-top: 2rem; /* No change*/
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
span {
    white-space: nowrap; /* Doesn't break the content */
}
